// Write your styles here.
$green : #8ec52e; 
$grey : #e2e2e2;
$blue : rgb(28, 96, 124);
$font : #2c2c2c;
body {
    background-color: #E2E2E2;
    color: $font;

}
header {
	background-color: white;
	position: relative;
}
.inner{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.brand{
	float: none;
    text-align: left;
}
.logo{
	max-height: 80px;
	margin-top: 30px;
    margin-bottom: 30px;
}
.header_add_content p {
    margin-bottom: 0;
}
.header_add_content{
	width: 960px;
	position: absolute;
	right: 0px;
    top: 35%;
    line-height: 200%;
    transform: translateY(-50%);
}
.header_add_content > div:before {
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    left: -100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
}

.header_add_content > div:after {
    content: "";
    right: -10px;
    height: 80%;
    top: 10%;
    position: absolute;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.header_add_content > div, .header_add_content > div p:last-child {
    margin-bottom: 0 !important;
    position: relative;
    text-align: left;
}
.header_add_content > div {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.one_third, .group-itemlist-3 > div, .one_third_last {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    min-height: 1px;
}
.last {
    margin-right: 0px !important;
    padding-right: 0 !important;
}

.navleft {
	z-index: 9999;
	position: relative;
	box-shadow: 0px 3px 0px rgb(117, 162, 40);
	border-radius: 4px;
    bottom: -40px;
    margin-top: -40px;
    height: 100%;
}
.navleft > nav, .menu-main-container, ul#menu, header ul.main-menu > li {
    height: 100%;
}
.navleft nav {
    margin-top: 0;
}
header #menu {
    background: #8EC52E;
    height: auto;
    border-radius: 4px;
    text-align: center;
        font-weight: 700;
    font-size: 16px;
}
header .main-menu {
    clear: both;
    display: block;
    list-style: none;
    float: none;
    margin-bottom: 0;

}
header ul.main-menu li {
    z-index: 9999;
    display: inline-block;
    height: 100%;
    color: rgb(255, 255, 255);
    // float: left !important;
    margin-bottom: 0;
}
header .main-menu > li > a {
    padding: 24px 20px;
    font-size: 15px;
    text-transform: uppercase;
    overflow: hidden;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    font-size: 16px;
}
@media only screen and (max-width: 1059px) and (min-width: 768px) {
    .brand>a>img.logo {
        margin: 15px auto 0px auto;
        margin-left: auto !important;
    }
}
@media only screen and (max-width: 1059px) and (min-width: 768px) {
    .brand {
        float: none;
        margin: 0px auto;
        text-align: center;
        margin: 0px auto;
        padding: 0;
        padding-bottom: 20px;
        width: 100%;
    }
}
@media only screen and (max-width: 1059px) {
    header .inner, .brand, #navleft {
        display: block;
    }
}
@media only screen and (max-width: 1059px) {
    .brand {
        padding-top: 20px !important;
    }
    .brand {
        float: left;
        position: relative;
        z-index: 1999999;
        min-width: 250px;
    }
}
.header_add_content {
    color: rgb(43, 43, 43);
}
@media only screen and (max-width: 1059px) and (min-width: 768px) {
    .header_add_content {
        max-width: 100%;
        width: 100%;
        position: static;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@media only screen and (max-width: 1369px) {
    .header_add_content {
        width: 900px;
    }
}

@media only screen and (max-width: 979px) {
    #navleft {
        width: 100%;
        text-align: center;
        float: none;
        max-width: none;
    }
    #menu {
    margin-top: 0px !important;
    text-align: center;
    float: none;
    margin: 0px auto;
    }
}
@media only screen and (max-width: 1059px) {
    #navleft {
        position: relative;
        margin: 0px auto;
        margin-top: 20px !important;
        top: 0 !important;
        font-size: 15px !important;
    }
}
@media only screen and (max-width: 1059px) and (min-width: 768px) {
    #navleft .menu-main-container {
        padding-right: 0px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 1059px) {
header ul#menu > li > a {
    font-size: small !important;
}
}

.image_section {
    background-image: url(../img/cover_rent_car.jpg);
    background-size: cover;
    width: 100%;
    height: 290px;
    text-align: center;
    padding-top: 140px;
    color: #fff;
    margin-bottom: 25px;
}
h1 {
    text-shadow: 3px 3px 3px black;
}
.car_entry_header>img {
    display: block;
    width: 100%;
    max-height: 225px;
}

.group-itemlist-3 > li {
    width: 32%;
    float: left;
    min-height: 445px;
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.car_entry_content {
    margin: 10px 25px;
}
.template_ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.car_details {
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    font-size: smaller;
    margin-bottom: 20px;
    padding-top: 2%;
}

.car_details > div {
    text-align: center;
}
.one_fourth, .group-itemlist-4 > div, .one_fourth_last {
    width: 23.5%;
}
.one_half, .one_half_last, .one_third, .one_third_last, .two_third, .two_third_last, .one_fourth, .one_fourth_last, .three_fourth, .three_fourth_last, .one_fifth, .one_fifth_last, .group-itemlist-2 > div, .group-itemlist-3 > div, .group-itemlist-4 > div, .one_fifth, .group-itemlist-5 > div, .one_fifth_last, .one_sixth, .group-itemlist-6 > div, .one_sixth_last {
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
    min-height: 1px;
}
.car_details strong {
    display: block;
}

.clear {
    clear: both;
}

.sc_fa_icon>svg{
    color: #fff !important;
}
.sc_fa_icon {
    width: 64px;
    height: 64px;
    display: block;
    background-color: #8EC52E;
    border-radius: 50%;
    padding: 11px;
    float: left;
    margin-right: 10px;
}
.last>.sc_fa_icon {
    padding:14px 0;
}
h4 {
    color: $blue;
}
.sc_button {
    background-color: $blue;
    color: white;
}
.price {
    font-weight: 700;
}
.header_add_content > div, .header_add_content > div p:last-child {
    margin-bottom: 0 !important;
    position: relative;
    text-align: left;
}
.header_add_content p {
    margin-bottom: 5px;
    line-height: 160%;
    font-size: 16px;
}
.header_add_content p>a{
    color: rgb(43, 43, 43);
    font-size: 18px;
}
.text-content {
    border-radius: 4px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    margin-bottom: 25px;
    padding: 25px;
    background: #fff;
    float: left;
}
.text-center {
    text-align: center;
}